body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#gameArea {
    width: 750px;
    height: 500px;
    margin-left: 305px;
    position: relative;
    border: 1px solid #000;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transition: opacity 0.5s;
}

.null {
    opacity: 0;
}
